//COLOURS
$white: #FFF;
$gray: #FAF8F4;

$yellow: #FFDD6E;

$green: #6EE4D7;
$greenDark: #1CD3BF;

$orange: #FF9247;

$purple: #9366d5;
$purpleDark: #3A1E63;

//FONTS
$nunito: 'Nunito', sans-serif;

//FONT-SIZE
$h1Size: 64px;
$h2Size: 48px;
$h3Size: 24px;
$h4Size: 18px;
$pSize: 18px;
$navSize: 14px;